In [78]:
## will combine accession dataset with harmonised soil dataset ##

import pandas as pd
import numpy as np

In [79]:
data_a = pd.read_csv("At_natural_accessions_reference_with_SMU.csv")
data_soil = pd.read_csv("HWSD_dataframe.csv")

/home/plycrsk/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [83]:
counts = data_soil.groupby('MU.GLOBAL').nunique()

In [84]:
counts_dict = dict(zip(counts.index, counts['Unnamed: 0']))

In [91]:
data_soil[data_soil['MU.GLOBAL'] == 44]

,Unnamed: 0,ID,MU.GLOBAL,MU.SOURCE1,MU.SOURCE2,ISSOIL,SHARE,SEQ,SU.SYM74,SU.CODE74,...,S.CEC.CLAY,S.CEC.SOIL,S.BS,S.TEB,S.CACO3,S.CASO4,S.ESP,S.ECE,T.BULK.DENSITY,S.BULK.DENSITY
37193,37194,37377,44,44,NaN,1,60.0,1,Fo,115.0,...,9.0,4.0,46.0,2.8,0.0,0.0,3.0,0.1,1.40,1.37
37194,37195,37378,44,44,NaN,1,20.0,3,Af,106.0,...,12.0,6.0,33.0,1.3,0.0,0.0,2.0,0.1,1.40,1.40
37195,37196,37379,44,44,NaN,1,20.0,2,Lf,82.0,...,21.0,8.0,77.0,6.6,0.0,0.0,2.0,0.1,1.48,1.47

In [92]:
data_soil['counts'] = data_soil['MU.GLOBAL'].map(counts_dict)

In [93]:
data_soil['sal_comp'] = ((data_soil['SHARE']/100) * (data_soil['T.ECE'])) * data_soil['counts']

In [94]:
data_soil = data_soil.groupby('MU.GLOBAL').mean()

In [95]:
data_a = data_a.dropna()

In [96]:
data_soil = data_soil[data_soil['S.ECE'].notna()]

In [97]:
data_soil = data_soil.drop(columns=['Unnamed: 0', 'ID'])

In [98]:
#data_soil = data_soil.set_index('MU.GLOBAL')

In [99]:
#data_soil = data_soil.drop_duplicates(subset='MU.GLOBAL', keep="first")

In [100]:
TCE_dict = dict(zip(data_soil.index, data_soil['T.ECE']))
SCE_dict = dict(zip(data_soil.index, data_soil['S.ECE']))
sal_dict = dict(zip(data_soil.index, data_soil['sal_comp']))

In [101]:
# necessary dictionary creation, in order to preserve data from duplicate indices #
#full_soil_dict = {k: g.to_dict(orient='records') for k, g in data_soil.groupby(level=0)}

In [102]:
data_a['Soil Mapping Unit'] = pd.to_numeric(data_a['Soil Mapping Unit'])

In [103]:
## Will first create list that takes the predominant soil data only ## 

#data_soil = data_soil.reset_index()
#data_soil = data_soil.drop_duplicates(subset = ['MU.GLOBAL'])
#soil_dict = data_soil.to_dict()

#for key in soil_dict:
#    data_a[key] = np.nan
#    data_a[key] = test_data['Soil Mapping Unit'].map(soil_dict[key])

In [104]:
data_a['TCE'] = data_a['Soil Mapping Unit'].map(TCE_dict)
data_a['SCE'] = data_a['Soil Mapping Unit'].map(SCE_dict)
data_a['sal_comp'] = data_a['Soil Mapping Unit'].map(sal_dict)

In [105]:
#data_a = data_a.dropna()

In [106]:
data_a

,tg_ecotypeid,name,CS_number,country,latitude,longitude,collector,seq_by,Soil Mapping Unit,Unnamed: 9,TCE,SCE,sal_comp
2,9606.0,Aitba-1,CS76649,MAR,31.4800,-7.45000,0,Monsanto,1947,Leptosols,0.100,0.100000,0.10000
3,6989.0,Alst-1,CS76432,UK,54.8000,-2.43330,Maarten Koornneef,Salk,10742,Gleysols,0.100,0.100000,0.10000
4,9758.0,Altai-5,CS76433,CHN,47.7500,88.40000,0,Salk,11233,Calcisols,0.500,0.400000,0.50000
5,9759.0,Anz-0,CS76439,IRN,37.4700,49.47000,0,Salk,6997,Water Bodies,NaN,NaN,NaN
8,7014.0,Ba-1,CS76441,UK,56.5459,-4.79821,Albert Kranz,Salk,10828,Histosols,0.100,0.100000,0.12125
...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,9991.0,Vash-1,CS76391,GEO,41.2381,46.37280,James Beck,MPI,28045,Cambisols,0.200,0.233333,0.16000
94,6981.0,Ws-2,CS78920,RUS,52.3000,30.00000,Kenneth Feldmann,MPI,7688,Podzoluvisols,0.100,0.100000,0.10000
95,9128.0,Yeg-2,CS78864,ARM,39.8692,45.36220,James Beck,Monsanto,28048,Chernozems,0.175,0.300000,0.22500
96,768.0,Zal-1,CS76634,KGZ,42.8000,76.35000,Olivier Loudet,Salk,27918,Leptosols,0.250,0.900000,0.20000
98,7418.0,Zu-1,CS78881,SUI,47.3667,8.55000,Albert Kranz,Monsanto,7004,Histosols,0.100,0.100000,0.10000

In [107]:
data_a.sort_values(by='TCE')

,tg_ecotypeid,name,CS_number,country,latitude,longitude,collector,seq_by,Soil Mapping Unit,Unnamed: 9,TCE,SCE,sal_comp
51,9600.0,IP-Vis-0,CS78848,ESP,39.8500,-6.040000,Carlos Alonso-Blanco,Monsanto,9744,Regosols,0.1,0.1,0.108571
35,9402.0,Hel-3,CS76918,SWE,57.8765,14.854900,Alison Anastasio,GMI,10052,Regosols,0.1,0.1,0.100000
70,8351.0,Ost-0,CS77154,SWE,60.2500,18.370000,Albert Kranz,GMI,10065,Cambisols,0.1,0.1,0.100000
26,6913.0,Eden-2,CS76827,SWE,62.8770,18.177000,Magnus Nordborg,GMI,10075,Podzols,0.1,0.1,0.100000
44,9574.0,IP-Rel-0,CS77209,ESP,38.6000,-2.700000,Carlos Alonso-Blanco,Monsanto,9742,Regosols,0.1,0.1,0.110833
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,6904.0,Br-0,CS76455,CZE,49.2000,16.616600,Albert Kranz,Salk,7001,"Urban, Mining, etc.",NaN,NaN,NaN
18,7058.0,Bur-0,CS76734,IRL,53.0800,-9.075556,Albert Kranz,Mott,10331,Rock Outcrop,NaN,NaN,NaN
24,7094.0,Da-0,CS76791,GER,49.8724,8.650810,Albert Kranz,Monsanto,7001,"Urban, Mining, etc.",NaN,NaN,NaN
48,9899.0,IP-Tau-0,CS77342,ESP,42.5400,0.840000,Xavier PicÃ³,Monsanto,9677,Leptosols,NaN,NaN,NaN
52,8424.0,Kas-2,CS78905,IND,35.0000,77.000000,Shauna Somerville,Salk,6998,Glaciers,NaN,NaN,NaN

In [108]:
data_a.to_csv("dataframe_with_soil_factors_salinity_mean_counts_210720.csv")